

.container {
    text-align: center;
    padding: 20px;
    background-color: white;
}

h1 {
    font-family: Impact;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}

p{
    font-family: "Times New Roman";
    font-size: 35px;
}

#new-quote-btn {
    background-color: #0000ff;
    color: white;
    width: 250px;
    height: 80px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#new-quote-btn:hover {
    background-color: green;
}

#quote-container {
    margin-top: 20px;
}

#quote-text {
    font-family: "Times New Roman";
    font-size: 35px;
}

#quote-author {
    font-family: "Times New Roman";
    font-size: 35px;
}

/*meduim*/
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    #new-quote-btn {
        font-size: 1.3rem;
        padding: 0.8rem 1.5rem;
    }

    #quote-text {
        font-size: 1.8rem;
    }

    #quote-author {
        font-size: 1.5rem;
    }
}

/* Small screens */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    #new-quote-btn {
        font-size: 1.2rem;
        padding: 0.6rem 1.2rem;
    }

    #quote-text {
        font-size: 1.5rem;
    }

    #quote-author {
        font-size: 1.3rem;
    }
}